sudo: false
dist: trusty
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
  - "nightly"
  - "pypy"
  - "pypy3"
  - "pypy-5.4.1"
  - "pypy-5.6.0"
  - "pypy-5.7.1"
  - "pypy2.7-5.8.0"
  - "pypy2.7-5.9.0"
  - "pypy3.5-5.8.0"
  - "pypy3.5-5.9.0"
matrix:
  include:
  - python: 3.7
    dist: xenial
    sudo: true
  - python: 3.8
    dist: xenial
    sudo: true
  - python: pypy
    dist: xenial
    sudo: true
  - python: pypy3
    dist: xenial
    sudo: true
services:
  - mongodb
  - redis-server
before_install:
  - pip install --upgrade pip setuptools
install:
  - if [[ $TRAVIS_PYTHON_VERSION == "pypy*" ]]; then pip install "tinydb<4"; fi
  - pip install -r requirements.txt
  - pip install -r extra.txt
  - pip install coveralls
env:
  - ADAPTER=mongo HTTPBIN=httpbin.bemisc.com
  - ADAPTER=tiny HTTPBIN=httpbin.bemisc.com
script: coverage run --source=appier setup.py test
after_success: coveralls
deploy:
  provider: pypi
  user: joamag
  password:
    secure: gB8Q3pfyoV43szD8+BCaoRWr7L2Iu2ONm2fyNcfz4p2+t8ez/vSWZZenUOfb5DJELli6LyUKzQDo/PqeEpcwhyW4p0/zrz8BqaVZoZpJ8Y0Vh1YH32Tp4tizcdA6XtY5CQhD5YawzhblSY9NQYAmZZ524bXGFLQ6pPMrNW0/bDg=
  distributions: sdist bdist_wheel
  on:
    tags: true
    python: "2.7"
    condition: $ADAPTER = mongo
