@charset "utf-8";

@-webkit-keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fade-in {
    from { opacity: 0; }
    to { opacity: 1; }
}

@-webkit-keyframes fade-into-drop {
    from {
        opacity: 0;
        -webkit-transform: translateY(-6px);
    }
    to {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }
}

@keyframes fade-into-drop {
    from {
        opacity: 0;
        transform: translateY(-6px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}

body {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Geneva", "Verdana", sans-serif;
    font-size: 14px;
    margin: 0px auto 0px auto;
    padding: 0px 12px 0px 12px;
    word-break: break-all;
}

a {
    color: #214c8f;
    padding-bottom: 1px;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

.footer {
    border-top: 1px solid #eeeeee;
    font-size: 12px;
    line-height: 20px;
    margin: 10px 0px 20px 0px;
    padding: 10px 0px 0px 0px;
}

.message h1,
.debugger h1 {
    font-weight: normal;
    margin: 0px 0px 16px 0px;
}

.message p,
.debugger p {
    margin: 0px 0px 0px 0px;
}

.message .header,
.debugger .header {
    margin: 10px 0px 10px 0px;
    padding: 0px 0px 0px 0px;
}

.message .traceback,
.debugger .traceback {
    border-top: 1px solid #eeeeee;
    font-size: 13px;
    line-height: 24px;
    margin: 10px 0px 10px 0px;
    padding: 10px 0px 0px 0px;
}

.message .traceback .lineno,
.debugger .traceback .lineno {
    color: #7d7d7d;
    display: inline-block;
    padding: 0px 12px 0px 0px;
    text-align: right;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    width: 40px;
}

.message .traceback .line.opener,
.debugger .traceback .line.opener {
    cursor: pointer;
}

.message .traceback .line.opener:hover,
.debugger .traceback .line.opener:hover {
    color: #0959d5;
    text-decoration: none;
}

.message .traceback .lines-extra,
.debugger .traceback .lines-extra {
    animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -o-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -ms-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -moz-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    -webkit-animation: fade-into-drop 0.25s cubic-bezier(0.645, 0.045, 0.355, 1.0);
    background-color: #f6f6f6;
    display: none;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    font-size: 12px;
    line-height: 22px;
    margin: 8px 0px 8px 0px;
    overflow: auto;
    padding: 8px 0px 8px 0px;
}

.message .traceback .lines-extra .line:hover,
.debugger .traceback .lines-extra .line:hover {
    background-color: #e8e8e8;
}

.message .traceback .lines-extra .line.target,
.debugger .traceback .lines-extra .line.target {
    background-color: #e9eff9;
    font-weight: bold;
}

.message .traceback .lines-extra .line.target:hover,
.debugger .traceback .lines-extra .line.target:hover {
    background-color: #e8e8e8;
}

.message .traceback .lines-extra .line pre,
.debugger .traceback .lines-extra .line pre {
    background-color: transparent;
    display: inline-block;
    height: 22px;
    margin: 0px 0px 0px 0px;
    overflow: visible;
    padding: 0px 0px 0px 0px;
    vertical-align: middle;
}

.message .traceback .lines-extra .line code,
.debugger .traceback .lines-extra .line code {
    background-color: transparent;
    display: inline-block;
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
    line-height: 22px;
    padding: 0px 0px 0px 0px;
    text-shadow: none;
}

.message .traceback .lines-extra .line code *,
.debugger .traceback .lines-extra .line code * {
    background-color: transparent;
}
