name: Deploy Workflow
on:
  push:
    tags:
      - "*"
jobs:
  build:
    name: Build
    timeout-minutes: 10
    strategy:
      matrix:
        python-version: [2.7]
    runs-on: ubuntu-latest
    container: python:${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v4
      - run: python --version
      - run: |
          pip install -r requirements.txt
          pip install -r extra.txt
        if: matrix.python-version != '2.7'
      - run: | 
          pip install -r requirements.py2.txt
          pip install -r extra.py2.txt
        if: matrix.python-version == '2.7'
      - run: |
          pip install black
          black . --check
        if: matrix.python-version == '3.12'
      - run: ADAPTER=tiny HTTPBIN=httpbin.bemisc.com python setup.py test
      - run: pip install twine wheel
      - run: python setup.py sdist bdist_wheel
      - run: python -m twine upload -u ${PYPI_USERNAME} -p ${PYPI_PASSWORD} dist/*
        env:
          PYPI_USERNAME: ${{ secrets.PYPI_USERNAME }}
          PYPI_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
