name: Main Workflow
on: push
jobs:
  build:
    runs-on: ubuntu-18.04
    steps:
      - name: Building
        uses: docker://hivesolutions/python
      - run: ls -la
      - run: pip install -r requirements.txt
