name: Main Workflow
on: [push]
jobs:
  build:
    name: Build
    strategy:
      matrix:
        python-version: [2.7, 3.5, 3.6, 3.7, 3.8, 3.9, rc]
    runs-on: ubuntu-latest
    container: python:${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v1
      - run: python --version
      - run: pip install -r requirements.txt
      - run: pip install -r extra.txt
      - run: ADAPTER=tiny HTTPBIN=httpbin.bemisc.com python setup.py test
  build-pypy:
    name: Build PyPy
    strategy:
      matrix:
        python-version: [3.6, 3.7]
    runs-on: ubuntu-latest
    container: pypy:${{ matrix.python-version }}
    steps:
      - uses: actions/checkout@v1
      - run: pypy --version
      - run: pip install -r requirements.txt
      - run: pip install -r extra.txt
      - run: ADAPTER=tiny HTTPBIN=httpbin.bemisc.com pypy setup.py test
